html {
  position: relative;
  height: 100vh;
}
.App {
  text-align: center;
}
h1 {
  margin : 20px;
}
/* FORM */
form {
  width: 80%;
  margin:auto;
  padding-top:50px;
}
form button {
  margin : 20px;
}

/* Notification Card */
#notification-card {
  position: absolute;
  justify-content: center;
  align-items: center;
  height : 60px;
  width : 100vw;
  bottom: 0;
  background-color: rgb(226, 128, 128);
}

